PORT=4000
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:password@localhost:5432/workforce_hub
DATA_PROVIDER=json
JSON_DATA_PATH=./server/data/employees.json
EMPLOYEE_SOURCE_CSV=/Users/govindkishan/Downloads/Data Project/Employee Directory(Employee Directory 2026-01-15).csv
CLIENT_SOURCE_CSV=/Users/govindkishan/Downloads/Data Project/client(All Clients Report 2025-12-11).csv
PROJECT_SOURCE_CSV=/Users/govindkishan/Downloads/Data Project/Project(All Projects Report 2025-12-12).csv
